<!DOCTYPE html>
<html lang="et">
  <head>
    <meta charset="UTF-8" />
    <title>ksaveri petrov</title>
  </head>
  <body>
    <img
      src="../banner/vp_banner_2024.png"
      alt="Veebiprogrammeerimise 2024 aasta kursuse banner"
    />
    <h1>Ksaveri Petrov</h1>
    <p>
      See leht on loodud oppetoo raames
      <a href="https://www.tlu.ee" target="_blank"> Tallinna Ulikoolis</a> ja ei
      sisalda tosiseltvoetavat sisu.
    </p>
    <hr />
    <ul>
      <li><a href="/home">Avaleht</a></li>
    </ul>
    <hr />
    <h2>Pane oma uudis kirja</h2>
    <form method="POST">
      <label for="titleInput">Uusise pealkiri: </label>
      <input
        type="text"
        id="titleInput"
        name="titleInput"
        placeholder="Uudise pealkiri ..."
      />
      <br />
      <label for="newsInput">Uudise Sisu: </label>
      <textarea
        id="newsInput"
        name="newsInput"
        placeholder="Uudise sisu..."
        cols="100"
        rows="5"
      ></textarea>
      <br />
      <label for="expireInput">Uudise aegumiskuupaev: </label>
      <input
        type="date"
        id="expireInput"
        name="expireInput"
        value="<%= expDate %>"
      />
      <br />
      <input type="submit" id="newsSubmit" name="newsSubmit" value="Salvesta" />
    </form>
  </body>
</html>
