<!DOCTYPE html>
<html lang="et">
  <head>
    <meta charset="UTF-8" />
    <title>ksaveri petrov</title>
  </head>
  <body>
    <img
      src="banner/vp_banner_2024.png"
      alt="Veebiprogrammeerimise 2024 aasta kursuse banner"
    />
    <h1>Ksaveri Petrov</h1>
    <p>
      See leht on loodud oppetoo raames
      <a href="https://www.tlu.ee" target="_blank"> Tallinna Ulikoolis</a> ja ei
      sisalda tosiseltvoetavat sisu.
    </p>
    <hr />
    <p>
    <h2>Eesti Film</h2>
    </p>
    <ul>
      <li><a href="/">Avaleht</a></li>
      <br>
      <li><a href="/eestifilm/tegelased">Eesti filmitegelased</a></li>
    </ul>
    <hr />
    <p>
    <h1>Registreeri Eesti Film ja Tegelased</h1>
    </p>
    <hr />
    <h2>Lisa Filmitegelane</h2>
    <form method="POST" action="/eestifilm">
        <input type="text" name="first_name" placeholder="Eesnimi" required />
        <br>
        <input type="text" name="last_name" placeholder="Perekonnanimi" required />
        <br>
        <input type="submit" name="personSubmit" value="Salvesta" />
    </form>

    <h2>Lisa Film</h2>
    <form method="POST" action="/eestifilm">
        <input type="text" name="film_name" placeholder="Filmi nimi" required />
        <br>
        <input type="submit" name="filmSubmit" value="Salvesta" />
    </form>

    <h2>Lisa Tegelase Roll</h2>
    <form method="POST" action="/eestifilm">
        <input type="text" name="role_name" placeholder="Rolli nimi" required />
        <br>
        <input type="submit" name="roleSubmit" value="Salvesta" />
    </form>
    
  </body>
</html>
