<!DOCTYPE html>
<html lang="et">
  <head>
    <meta charset="UTF-8" />
    <title>ksaveri petrov</title>
  </head>
  <body>
    <img
      src="banner/vp_banner_2024.png"
      alt="Veebiprogrammeerimise 2024 aasta kursuse banner"
    />
    <h1>Ksaveri Petrov</h1>
    <p>
      See leht on loodud oppetoo raames
      <a href="https://www.tlu.ee" target="_blank"> Tallinna Ulikoolis</a> ja ei
      sisalda tosiseltvoetavat sisu.
    </p>
    <hr />
    <p>
    <h2>Eesti Film</h2>
    </p>
    <ul>
      <li><a href="/">Avaleht</a></li>
      <br>
      <li><a href="/eestifilm/tegelased">Eesti filmitegelased</a></li>
    </ul>
    <hr />
    
    </form>
  </body>
</html>
