<!DOCTYPE html>
<html lang="et" action="/signin">
  <head>
    <meta charset="UTF-8" />
    <title>Ksaveri petrov</title>
  </head>
  <body>
    <img
      src="banner/vp_banner_2024.png"
      alt="Veebiprogrammeerimise 2024 aasta kursuse banner"
    />
    <h1>Ksaveri Petrov</h1>
    <p>
      See leht on loodud oppetoo raames
      <a href="https://www.tlu.ee" target="_blank"> Tallinna Ulikoolis</a> ja ei
      sisalda tosiseltvoetavat sisu.
    </p>
    <p>Semestri algusest on <%= dateDifference %> päeva mööda.</p>
    <hr />

    <p><%= locals?.notice || "" %></p>

    <ul>
      <li><a href="/timenow">Ajainfo</a></li>
      <li><a href="/vanasonad">Vanasonad</a></li>
      <li><a href="/regvisit">Registreeri oma kylastus</a></li>
      <li><a href="/regvisitdb">Registreeri oma kylastus (txt pohine)</a></li>
      <li><a href="/signup">Loo kasutaja konto</a></li>
      <li><a href="/signin"> Logi sisse</a></li>
    </ul>
  </body>
</html>
