<!DOCTYPE html>
<html lang="et">
  <head>
    <meta charset="UTF-8" />
    <title>ksaveri petrov</title>
  </head>
  <body>
    <img
      src="../banner/vp_banner_2024.png"
      alt="Veebiprogrammeerimise 2024 aasta kursuse banner"
    />
    <h1>Ksaveri Petrov</h1>
    <p>
      See leht on loodud oppetoo raames
      <a href="https://www.tlu.ee" target="_blank"> Tallinna Ulikoolis</a> ja ei
      sisalda tosiseltvoetavat sisu.
    </p>
    <hr />
    <ul>
      <li><a href="/">Avaleht</a></li>
      <li><a href="/eestifilm"> Eesti Filmi avaleht</a></li>
    </ul>
    <hr />
    <h2>Eesti Filmitegelased</h2>
    <ul>
      <% persons.forEach(function(item) { %>
      <li>
        <%= item.first_name %> <%= item.last_name %>, syndinud <%=
        item.birth_date %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
